.left {
  position: fixed;
  width: 50%;
  height: 100%;
  padding: 3em 2em 1em;
  background-image: url(../images/chien-patte-marron.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.left__title {
  text-transform: uppercase;
  font-size: 1.4em;
  max-width: 100px;
  align-self: flex-start;
}

.left__paragraph {
  font-size: 0.9em;
  text-align: right;
  padding: 1em 4% 1em 16%;
  background-color: rgba(155, 155, 155, .3);
  text-shadow: 0 0 4px #333;
}

.left__subtitle {
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
}

.left__subtitle-strong {
  font-style: normal;
  font-size: 1.6em;
  font-weight: 700;
}

.left__nav {
  list-style-type: none;
  text-shadow: 0 0 4px #333;
}

.left__nav-item {
  display: inline-block;
}

.left__nav-link {
  color: white;
  padding: 0.5em 1em;
  margin: 0;
  font-weight: 700;
}

.left__nav-link:hover {
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}


.right {
  width: 50%;
  margin-left: 50%;
}

.right__title {
  padding: 0.5em 1em;
  margin: 0;
  color: white;
  background-color: #212025;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 50%;
  padding: 1.5em;
  font-size: 0.9em;
  border: solid #212025 1px; 
}

.post__solo{
  padding: 1.5em;
  font-size: 0.9em;
}

.post__meta {
  font-size: 0.9em;
  color: grey;
  margin: 0.625em 0;
}

.post__author-icon {
  width: 1.4em;
}

.post__author {
  color: black;
  font-weight: 700;
}

.post__link {
  font-weight: bold;
  text-decoration: underline;
}

.post__link:hover {
  text-decoration: none;
}

.post__category {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  padding: 3px 6px;
  background-color: darkgrey;
  margin-bottom: 0.5em;
}

.post__category:hover{
  color: #212025;
  text-decoration: none;

}

.post__category--color-education{
  background-color: #e76f51;
}

.post__category--color-fun{
  background-color: #e9c46a;
}

.post__category--color-care{
  background-color: #2a9d8f;
}

